@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@400;700&display=swap");

* {
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    color: #000800;
    text-transform: capitalize;
}

body,html {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #71c5cf;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: #ebfcdc;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:#ebfcdc;
    padding: 15px;
}
#board {
    /* background-color: skyblue; */
    background-image: url("images/flappybirdbg.png");
    border-radius: 2%;
    border: 5px solid #000800;
}

.modal {
    display: none; /* Keep the modal hidden by default */
    position: fixed;
    z-index: 2; /* Ensure it appears above other content */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.modal-content {
    position: absolute; /* Position relative to the modal */
    top: 50%; /* Place at the vertical center */
    left: 50%; /* Place at the horizontal center */
    transform: translate(-50%, -50%); /* Offset by half of its width/height to perfectly center it */
    background-color: #ebfcdc;; /* Background color for the modal content */
    padding: 20px;
    width: 30%; /* Set the width of the modal content */
    border-radius: 7px;
    text-align: center; /* Center text inside the modal content */
}


@media screen and (max-width: 469px) {footer {display: none;}}

@media screen and (max-width: 469px) {header {display: none;}}
